.search-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
}

.search-bar{
    width: 400px;
}

.action-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 10px;
}

.navigation-btns{
    display: flex;
    justify-content: center;
}

.selected-row {
    background-color: #d4d4d4; 
  }
  